{% extends 'skeleton.html' %}
{% block body %}
    <center>
    <div id="ctl00_divHeader">
        <h2 class="mh_table">
            Miðhraun
        </h2>
    </div>
    <div class="main_container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="ctl00_divFooter">
        <table class="mh_table" width="100%">
            <tbody><tr>
                <td align="center">
                    <a href="{% url 'horses.views.new_horse' %}">Bæta við hesti</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'ui.views.categories' %}">Flokkar</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'ui.views.home' %}">Fara á forsíðu</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'logout' %}?next=/">Log out</a>
                </td>
            </tr>
        </tbody></table>
    </div>
    </center>
{% endblock %}
